.cont{
    margin-top: 80px !important;
}

.items{
    margin:20px;
    transition: all .2s ease-in-out;
}

.container-contact{
    border: 1px solid gray;
    height: 900px;
    padding: 20px;
}


.items:hover { transform: scale(1.1); }